<form method="post" action="/new" style="display: flex; flex-direction: column; gap: 10px; max-width: 200px;">
    <label for="user" style="font-weight: bold;">User</label>
    <input type="text" name="user" id="user">

    <label for="text" style="font-weight: bold;">Text</label>
    <input type="text" name="text" id="text">

    <input type="submit" value="Enviar" style="cursor: pointer;">
</form>