<div>
        <div style="margin-bottom: 20px; padding: 8px; border: 1px solid black; max-width: max-content;">
            <span>User: <%= message.user%></span>
            <p>Text: <%= message.text%></p>
            <span>Data: <%= message.added%></span>
            <a href="/" style="display: flex; padding: 8px; background-color: rgb(12, 89, 231); border-radius: 8px; color: white; max-width: max-content; text-decoration: none; font-family: sans-serif;">Back</a>
        </div>
</div>